#adreg{
    display: flex;
    /* flex-direction: column; */
    justify-content:center;
    text-align: center;
    min-height: 89vh;
    background: rgb(14,12,47);
    background: cover;
}

#adreg form{
   position: relative;
    width: 380px;
    height: 540px;
    text-align: center;
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 8px;
    border: 3px solid blueviolet;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#adreg form h2{
    color: black;
    font-weight:bold;
    font-size: 1.7rem;
    width: 100%;
    letter-spacing: 0.1rem;
    margin: 20px 0px 10px 0px;
}


.adinput{
    position: relative;
    font-weight: bold;
    /* height: 50px; */

}


.adinput input{
    position: relative;
    min-width: 40%;
    height: 70%;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid #000;
    background: none;
    border-radius:4px;
    font-size: 1rem;
    box-shadow: none;
    color: black;
    text-shadow: 3px;
    flex: block;
}

.adinput input:active{
   background-color: plum;
   color: black
}

.adinput input:hover{
    background-color: plum;
    color: black
 }

#adgender{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-top: 3px;
    padding-bottom: 3px;
    gap: 20px;
    color:#000;
    font-weight: 1.2rem;
    font-size: 1rem;
}

#adreg button{
    margin: 20px 160px 0px 100px;
    background-color: rgb(92, 198, 92);
    border: 2px solid black;
    width: 40%;
    color: #000;
    border: none;
    border-radius: 2px;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    /* transition: background-color 0.3s; */
    font-size:larger;
    border: 30%;
}

#adreg button:hover{
    background-color: darkorchid;
    border: 1px solid blueviolet;
    color: black;
    border-radius: 5px;
}